progress {
	appearance: none;
	height: 5px;
	border-radius: 100px;

	&::-webkit-progress-bar {
		background: black;
		border-radius: 100px;
	}

	&::-webkit-progress-value {
		background-color: pink;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
	}

	&::-moz-progress-bar {
		background-color: pink;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
	}
}
